<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- messages -->
<%- messages() %>
<div class="login-content-wrapper">
  <div class="login-form-wrapper">
    <!-- The Login Form Content -->
    <form class="login-form" method="post">
      <fieldset class="form-wrapper">
        <div class="email-wrapper">
          <label class="input" for="account_email">Email:</label>
          <input
            class="input"
            type="email"
            id="account_email"
            name="account_email"
            required
          />
        </div>
        <div class="password-wrapper">
          <label class="input" for="account_password">Password:</label>
          <input
            class="input"
            type="email"
            id="account_password"
            name="account_password"
            required
          />
          <p class="password-info">
            Passwords must be minimum of 12<br />characters and include 1
            capital letter,<br />1 number, and 1 special character.
          </p>
        </div>
        <button class="show-password-btn" id="show-password-btn">
          Show Password
        </button>
        <button class="submit-btn" type="submit">Login</button>
      </fieldset>
    </form>
    <span class="sign-up-wrapper"
      >No account? <a href="/account/register">Sign-up</a></span
    >
  </div>
</div>
