<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- error message -->
<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<!-- messages -->
<%- messages() %>
<div class="login-content-wrapper">
  <div class="login-form-wrapper">
    <!-- The Login Form Content -->
    <form
      id="loginForm"
      class="login-form"
      action="/account/login"
      method="post"
    >
      <legend class="required-message">*ALL FIELDS ARE REQUIRED</legend>
      <fieldset class="form-wrapper">
        <div class="email-wrapper">
          <label class="input" for="account_email">Email:</label>
          <input
            class="input"
            type="email"
            id="account_email"
            name="account_email"
            placeholder="example@email.com"
            required
          />
        </div>
        <div class="password-wrapper">
          <label class="input" for="account_password">Password:</label>
          <input
            class="input"
            type="password"
            id="account_password"
            name="account_password"
            placeholder="************"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
            required
          />
          <p class="password-info">
            Passwords must be minimum of 12<br />characters and include 1
            capital letter,<br />1 number, and 1 special character.
          </p>
        </div>
        <span class="show-password-btn" id="show-password-btn">
          Show Password
        </span>
        <button class="submit-btn" type="submit">Login</button>
      </fieldset>
    </form>
    <span class="sign-up-wrapper"
      >No account? <a href="/account/register">Sign-up</a></span
    >
  </div>
</div>

<script src="../../js/showPassword.js"></script>
