<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    property="og:title"
    content="Grant Call - CSE 340 - Web Backend Development"
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="#" />
  <meta property="og:image" content="/images/site/icon.png" />
  <title><%- title %> | CSE 340 App</title>
  <link rel="icon" href="/images/site/favicon-32x32.png" />
  <!-- <link rel="stylesheet" media="screen" href="/css/main.css" /> -->
  <link rel="stylesheet" media="screen" href="/css/demo.css" />
</head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
