@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$primary-color: #1d4289;
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-size: 1.6rem;
    margin: 1rem;
  }

  img {
    max-width: 100%;
  }
}

.header {
  .hero-section {
    .heading-text-container {
      .siteName {
        .link {
          font-size: 4.8rem;
          font-weight: 700;
          color: #242332;
          text-decoration: none;
        }
      }
      display: flex;
      justify-content: space-between;
      .title-text {
        font-size: 3.2rem;
      }
      .link {
        text-decoration: none;
        color: #242332;
      }
    }
  }
}

.nav {
  .nav-container {
    .nav-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #121118;

      .list-item {
        list-style: none;
        padding: 1rem;
        .link:hover {
          color: #ffdf11;
        }
        .link {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  .hero-section {
    .title-text {
      font-size: 3.2rem;
      font-weight: 700;
      color: #242332;
      margin: 0 0.5rem;
      padding: 1rem 0 3rem;
    }
    .hero-img {
      display: block;
      margin: auto;
    }
    .overlay {
      position: absolute;
      top: 24rem;
      left: 1em;
      background-color: #fff9f91e;
      padding: 2rem;
      border-radius: 0.6rem;
      color: $primary-color;
      padding: 1rem;
      .heading-text {
        padding: 0;
        margin: 0;
        font-size: 2.5rem;

        .own-today-img {
          margin-top: 2rem;
          padding-top: 20rem;
        }
      }
      .own-today {
        background-color: $primary-color;
        color: #fff;
        padding: 1rem 2rem;
        font-size: 2rem;
        margin: 0;
      }
      .list {
        padding: 0;
        margin: 0.2rem;
        list-style: none;
        padding-bottom: 3rem;
        font-size: 1.75rem;

        .item {
          padding: 0;
          font-weight: 600;
        }
      }
    }
  }

  .review-section {
    padding: 1rem 0;
  }

  .upgrades-section {
    display: flex;
    flex-wrap: wrap;
    .img-text {
      text-align: center;
    }
    .upgrades-fig {
      flex-basis: 25%;
      .img-container {
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .main {
    margin: 0 20rem;
    .hero-section {
      padding: 0 0 2rem;
      .hero-img {
        width: 65%;
      }
      .heading-text {
        font-size: 3rem;
      }
      .overlay {
        top: 24rem;
        left: 20em;
      }
      .list {
        font-size: 2rem;
      }
    }
  }

  .upgrades-review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem 0 0;
  }

  .review-section {
    grid-column: 2/3;
  }

  .upgrades-section {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
