@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$primary-color: #1d4289;
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-image: url("../images/site/checkerboard.jpg");
  margin: 0;
}

img {
  max-width: 100%;
}

#wrapper {
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
}

.header {
  .hero-section {
    .heading-text-container {
      .siteName {
        .link {
          font-size: 4.8rem;
          font-weight: 700;
          color: #242332;
          text-decoration: none;
        }
      }
      display: flex;
      justify-content: space-between;
      .title-text {
        font-size: 3.2rem;
      }
      .link {
        text-decoration: none;
        color: #242332;
      }
    }
  }
}

.nav {
  .nav-container {
    .nav-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #121118;

      .list-item {
        list-style: none;
        padding: 1rem;
        .link:hover {
          color: #ffdf11;
        }
        .link {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  .hero-section {
    .hero-img-container {
      background-image: url("../images/vehicles/delorean.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 90%;
      display: flex;
      justify-content: left;
      align-items: flex-start;
      padding: 1rem 0 3rem;
    }
    .title-text {
      font-size: 3.2rem;
      font-weight: 700;
      color: #242332;
      margin: 0 0.5rem;
      padding: 1rem 0 3rem;
    }
  }
  .hero-img {
    display: block;
    margin: auto;
  }
  .overlay {
    background-color: #f7f7ffe8;
    color: $primary-color;
    padding: 1rem;
    margin: 0;
  }

  .heading-text {
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
  }
  .own-today-img {
  }
}
.own-today {
  background-color: $primary-color;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}
.list {
  padding: 0;
  margin: 0.2rem;
  list-style: none;
  padding-bottom: 3rem;
  font-size: 1.75rem;

  .item {
    padding: 0;
    font-weight: 600;
  }
}

.review-section {
  padding: 1rem 0;
}

.upgrades-section {
  display: flex;
  flex-wrap: wrap;
  .img-text {
    text-align: center;
  }
  .upgrades-fig {
    flex-basis: 25%;
    .img-container {
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
  }
}

@media (min-width: 750px) {
  #wrapper {
    max-width: 1080px;
    margin: 1rem auto;
  }
  .main {
    .hero-section {
      padding: 0 0 2rem;
      .hero-img {
        width: 65%;
        .hero-img-container {
        }
      }
      .heading-text {
        font-size: 3rem;
      }
      .overlay {
        margin-left: 10rem;
      }
      .list {
        font-size: 2rem;
      }
    }
  }

  .upgrades-review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem 0 0;
  }

  .review-section {
    grid-column: 2/3;
  }

  .upgrades-section {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
