/* ====================================
   TABLE OF CONTENTS
======================================
1. Global Styles
2. Base Element Styles
3. Layout & Structure
4. Header
5. Navigation
6. Main Content
7. Footer (assuming you'll add more to this later)
8. Reviews & Upgrades
9. Media Queries
====================================== */

// 1. Global Styles
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$primary-color: #1d4289;

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// 2. Base Element Styles
body {
  font-size: 1.6rem;
  // background-image: url("../images/site/checkerboard.jpg");
  margin: 0;
  padding: 0.2rem;
}

img {
  max-width: 100%;
}
/* Add a media query for tablet and higher screen sizes */
@media (min-width: 768px) {
  body {
    background-image: url("../images/site/checkerboard.jpg");
  }
}
// 3. Layout & Structure
#wrapper {
  margin: 0 auto;
  background-color: #fff;
  // padding: 2rem;
}

// 4. Navigation
.nav {
  &-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #121118;

    .list-item {
      list-style: none;
      padding: 1rem;

      .link {
        &,
        &:link,
        &:visited {
          color: #fff;
          text-decoration: none;
        }

        &:hover {
          color: #ffdf11;
        }
      }
    }
  }
}

/* Navigation Styles (common for both mobile and desktop) */

// 4. Navigation

// Default mobile styles
.nav {
  background-color: rgb(15, 15, 15);

  .nav-list {
    display: none; // Hidden by default on mobile
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    &.active {
      display: flex; // Displayed when active class is added (i.e., menu clicked)
    }
  }

  .menu {
    display: block; // Hamburger menu visible by default on mobile
    background: none;
    border: none;
    margin-left: auto;

    .icon {
      display: none; // Icons inside the hamburger menu hidden by default
      &.active {
        display: unset; // Display the icon that's active (either hamburger or close)
      }
    }
  }

  .link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: #d1d1d1;
    text-decoration: none;
    font-weight: 700;

    &.active,
    &:hover {
      color: #d1d1d1;
      transition: color 300ms;
    }
  }
}

// Desktop styles (applied at 744px width and above)
@media screen and (min-width: 744px) {
  .nav {
    .nav-list {
      display: flex; // Displayed by default on desktop
      flex-direction: row;
      max-width: 100rem;
      margin: auto;

      .link {
        padding: 1.6rem; // Increased padding for desktop view
      }
    }

    .menu {
      display: none; // Hamburger menu hidden on desktop
    }
  }
}

// 5. Header Content
.header {
  padding: 0;
  .hero-section {
    .heading-text-container {
      display: flex;
      justify-content: space-between;

      .siteName .link {
        font-size: 4.8rem;
        font-weight: 700;
        color: #242332;
        text-decoration: none;
      }

      .title-text {
        font-size: 3.2rem;
      }

      .link {
        text-decoration: none;
        color: #242332;
      }
    }
  }
  @media (min-width: 750px) {
    padding: 0 1rem;
  }
}

// 6. Main Content
.main {
  .hero-section {
    .hero-img-container {
      background-image: url("../images/vehicles/delorean.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 90%;
      display: flex;
      justify-content: left;
      align-items: flex-start;
      padding: 1rem 0 3rem;
    }

    .title-text {
      font-size: 3.2rem;
      font-weight: 700;
      color: #242332;
      margin: 0 0.5rem;
      padding: 1rem 0 3rem;
    }

    .hero-img {
      display: block;
      margin: auto;
    }

    .overlay {
      background-color: #f7f7ffe8;
      color: $primary-color;
      padding: 1rem;
      margin: 0;
    }

    .heading-text {
      padding: 0;
      margin: 0;
      font-size: 2.5rem;
    }
  }

  .own-today {
    background-color: $primary-color;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }

  .list {
    padding: 0;
    margin: 0.2rem;
    list-style: none;
    padding-bottom: 3rem;
    font-size: 1.75rem;

    .item {
      padding: 0;
      font-weight: 600;
    }
  }
}

// 7. Footer

// 8. Reviews & Upgrades
.review-section {
  padding: 1rem 0;
}

.upgrades-section {
  display: flex;
  flex-wrap: wrap;

  .img-text {
    text-align: center;
  }

  .upgrades-fig {
    flex-basis: 25%;

    .img-container {
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
  }
}

// 9. Media Queries
@media (min-width: 750px) {
  #wrapper {
    max-width: 1080px;
    margin: 1rem auto;
  }

  .main .hero-section {
    padding: 0 0 2rem;

    .hero-img {
      width: 65%;
    }

    .heading-text {
      font-size: 3rem;
    }

    .overlay {
      margin-left: 10rem;
    }

    .list {
      font-size: 2rem;
    }
  }

  .upgrades-review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem 0 0;
  }

  .review-section {
    grid-column: 2/3;
  }

  .upgrades-section {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}

// Classification view styles
.inv-display {
  display: grid;
  grid-template-columns: 1fr; // Single column for mobile
  list-style-type: none;

  .divider-line {
    display: none; // Hidden by default on mobile
  }

  .image-container {
    width: 100%; // Ensure the container takes up the full width of its parent.
    display: flex;
    align-items: flex-start; // Vertically center
    justify-content: center; // Horizontally center

    img {
      width: 100%; // Image will fill the width of its container.
      height: auto; // Maintain aspect ratio.
      object-fit: contain; // Ensures image aspect ratio is maintained.
      object-position: center; // Image will be centered.
      border-radius: 2px;
    }
  }

  .vehicle-classifiction {
    margin: 0 auto;
    padding: 0 0 5rem;
  }

  img {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr; // Three columns for desktop
    .image-container {
      height: 200px; // Set a fixed height for the container.
    }
    .vehicle-classifiction {
      border: 2px solid #343434;
      border-radius: 5px;
      margin: 2rem;
      text-align: center;
    }
    .divider-line {
      display: block;
      height: 5px; // Increased height for a thicker look
      background-color: #333;
      border: none; // Removing any default borders
      margin: 0;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); // A subtle shadow for depth
      border-radius: 1px; // Soft rounded edges
      padding: 0;
      align-self: center; // Center the HR in its container
    }
  }
}

// .inv-display {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   list-style-type: none;
// }
// .vehicle-classifiction {
//   border: 1px solid #343434;
//   border-radius: 5px;
//   margin: 2rem;
//   img {
//     width: 100%;
//   }

//   .divider-line {
//     height: 5px;
//     background-color: #333;
//     border: none;
//     margin: 2rem 0 0;
//     padding: 0;
//   }
// }

// Details view styles

/* Mobile-first approach: stacked view for mobile */
.detail-view {
  padding: 10px;

  .price {
    font-weight: 700;
  }

  .detail-info-list {
    list-style-type: none;
  }

  .list-item {
    padding: 1rem;
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 100%;
  margin-bottom: 20px;
}

.info-container {
  width: 100%;
}

.bolded {
  font-weight: bold;
}

/* Media query for desktop view */
@media screen and (min-width: 768px) {
  .details-container {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5rem;
  }

  .image-container,
  .info-container {
    width: 48%; /* Adjust this value if needed */
  }
}

// Login view styles

.login-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form-wrapper {
    background-color: #059acf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    padding: 1rem;
  }

  .login-form {
    .form-wrapper {
      display: flex;
      flex-direction: column;
      border-radius: 3px;
      padding: 1rem;
    }

    .input {
      display: block;
    }

    .password-info {
      text-wrap: wrap;
    }

    .show-password-btn {
      border-radius: 10px;
      max-width: 150px;
      background-color: #30363d;
      padding: 0.3rem;
      margin: 0 0 1rem;
      color: #fff;
    }

    .submit-btn {
      max-width: 50px;
    }
  }
  .sign-up-wrapper {
    padding: 1.5rem;
  }
}
