<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- messages -->

<%- messages() %>

<!-- Errors -->
<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<!-- Management view -->
<%#- addClassificationView %>
<div class="add-classification-form-container">
  <form class="add-classification-form" method="POST">
    <legend class="legend">Field is required</legend>
    <fieldset class="fieldset">
      <label class="label" for="classification_name"
        >Classification Name:</label
      >
      <p class="info">Name must be alphabetic characters only</p>
      <input
        class="input"
        type="text"
        name="classification_name"
        id="classification_name"
        pattern="[A-Za-z0-9 ]{1,}"
        title="Classification
      name must not contain spaces or special characters."
        required
        value="<%= locals.classification_name %>"
      />
      <button class="classification-btn" type="submit">
        Add Classification
      </button>
    </fieldset>
  </form>
</div>
