<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- messages -->

<%- messages() %>

<!-- Errors -->
<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<!-- Management view -->
<%#- addClassificationView %>
<div>
  <form method="POST">
    <fieldset>
      <legend>Add Classification</legend>
      <label for="classification_name">Classification Name:</label>
      <input
        type="text"
        name="classification_name"
        id="classification_name"
        required
      />
      <button type="submit">Add Classification</button>
    </fieldset>
  </form>
</div>
